<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Ozymandias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script>
    </script>
  </head>
  <body>  
    <div class="wall">
        <h2>Ozymandias</h2>
      <div class="screen">
        <img src="{{ url_for('video', topic=topic) }}" />
      </div>
      <p>
      <b>Filename:</b> 0094dd222bdbf103b92149ca3d74c.mp4 <br/>
      <b>Description:</b> People announcing on a stage.<br/>
      </p>
    </div>
  </body>
</html>

